/* This is an example CSS file, feel free to remove/edit it anytime */
body {
  background-color: #c8e6ca;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 1px 5px 5px grey;
  position: relative;
  width: 1000px;
  height: 650px;
  margin-top: 60px;
  overflow: hidden;
}

.contact {
  background-color: #2e7d33;
  color: #f5f5f5;
  width: 250px;
  height: 480px;
  border-radius: 15px 0 0 0;
  position: absolute;
}

.contact .info {
  margin-left: 25px;
  margin-top: 300px;
}

.contact .info img {
  height: 14px;
}

.contact .info h4 {
  margin-bottom: 0;
}

.contact .info p {
  opacity: 0.8;
  font-weight: 300;
}

.find {
  background-color: #2e7d33;
  color: #f5f5f5;
  width: 250px;
  height: 150px;
  margin-top: 50px;
  border-radius: 0 0 0 15px;
  position: absolute;
  top: 69.2%;
}

.find .info {
  margin-left: 25px;
}

.find a {
  opacity: 0.8;
  font-weight: 300;
}

.user-photo {
  position: absolute;
  top: 13.9%;
  left: 20%;
  width: 350px;
  height: 490px;
  z-index: 1;
}

.about {
  color: black;
  width: 390px;
  position: absolute;
  top: 17%;
  right: 4%;
}

.about h1 {
  margin-bottom: 0;
}

.about span {
  color: #2e7d33;
}

.about p {
  font-weight: 300;
}

.about h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.about ul li {
  margin-bottom: 8px;
  font-weight: 300;
}

.grey1 {
  background-color: #e0e0e0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 17.9%;
  top: 20%;
  z-index: 2;
  animation: move1 4s ease-in-out 1s;
}

@keyframes move1 {
  0% {background-color: #e0e0e0; left: 17.9%;}
  25% {background-color: #2e7d33; left: 15%;}
  50% {background-color: #e0e0e0; left: 13%;}
  75% {background-color: #2e7d33; left: 11%;}
  100% {background-color: #e0e0e0; left: 17.9%;}
}

.grey2 {
  background-color: #e0e0e0;
  height: 20px;
  width: 50px;
  position: absolute;
  left: 53%;
  top: 15%;
  z-index: 2;
  animation: move2 4s ease-in-out 1s;
}

@keyframes move2 {
  0% {background-color: #e0e0e0; top: 15%;}
  25% {background-color: #2e7d33; top: 13%;}
  50% {background-color: #e0e0e0; top: 11%;}
  75% {background-color: #2e7d33; top: 9%;}
  100% {background-color: #e0e0e0; top: 15%;}
}

.grey3 {
  background-color: #e0e0e0;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 23%;
  bottom: 7.8%;
  z-index: 2;
  animation: move3 4s ease-in-out 1s;
}

@keyframes move3 {
  0% {background-color: #e0e0e0; left: 23%;}
  25% {background-color: #2e7d33; left: 25%;}
  50% {background-color: #e0e0e0; left: 27%;}
  75% {background-color: #2e7d33; left: 29%;}
  100% {background-color: #e0e0e0; left: 23%;}
}

.green1 {
  background-color: #2e7d33;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  bottom: 7%;
  left: 52%;
  animation: move4 4s ease-in-out 1s;
}

@keyframes move4 {
  0% {background-color: #2e7d33; width: 50px; height: 50px; left: 52%;}
  25% {background-color: #e0e0e0; width: 45px; height: 45px; left: 53%;}
  50% {background-color: #2e7d33; width: 40px; height: 40px; left: 54%;}
  75% {background-color: #e0e0e0; width: 35px; height: 35px; left: 55%;}
  100% {background-color: #2e7d33; width: 50px; height: 50px; left: 52%;}
}

.green2 {
  background: linear-gradient(300deg, #2e7d33, #c8e6ca, #2e7d33);
  background-size: 180% 180%;
  animation: move5 4s ease-in-out infinite;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  position: absolute;
  right: -4%;
  top: -6%;
}

@keyframes move5 {
  0% {width: 110px; height: 110px;}
  25% {width: 115px; height: 115px;}
  50% {width: 120px; height: 120px;}
  75% {width: 125px; height: 125px;}
  100% {width: 110px; height: 110px;}
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}
